.ow-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 4%;
}
.ow-row:last-child {
  margin-bottom: 0;
}
.ow-ico {
  line-height: 1.1em;
}
.ow-widget {
  background-color: #dcf500;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 2%;
}
.ow-widget .pull-left {
  float: left;
}
.ow-widget .pull-right {
  float: right;
}
.ow-city-name {
  letter-spacing: 1px;
  line-height: 1.111em;
  font-weight: bold;
  font-size: 24px;
}
.ow-ico-current {
  font-size: 80px;
  width: 1.1em;
  padding-top: 13px;
}
.ow-temp-current {
  font-size: 60px;
  margin: 0 10%;
}
.ow-current-desc {
  line-height: 1.5em;
}
.ow-forecast-item {
  float: left;
  width: calc(25% - 1px);
  text-align: center;
  border-right: 1px solid white;
}
.ow-forecast-item:last-child {
  border-right: 0;
}
.ow-forecast-item .ow-ico-forecast {
  font-size: 30px;
  position: relative;
  margin: 10px 0;
}
.ow-forecast-item .ow-forecast-temp span {
  display: inline-block;
  margin: 0 5px;
}
#demo {
  position: relative;
  overflow: hidden;
  max-width: 500px;
  margin: 15px auto 0 auto;
}
